{Unit]
Description=My To-Do App
Documentation=/opt/todoapp/Module1/README.md

[Service]
Type=simple
User=todoapp
WorkingDirectory=/opt/todoapp/Module1
ExecStart=/home/todoapp/.local/bin/poetry run flask run --host=0.0.0.0
