<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task {{ card_name }}</title>
</head>
<body>
    <h1>Edit Task: {{ card_name }}</h1>
    <form method="POST">
        <label for="description"> Description {{ card_name }} :</label>
        <textarea id="description" name="card_edit_desc">{{ item }}</textarea><br>
        <br>
        <input type="submit" value="Save">
    </form>
</body>
</html>
