{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-8">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>ADD new TASK</h2>
      <ul class="list-group mb-4">
        <form action="{{ url_for('new_card_submit') }}" method="post" >
          <label for="card">New CARD name: </label>
          <input type="text" name="card_title" placeholder="CARD name"></input>
          <br><br>
          <label for="description">New CARD descr: </label>
          <textarea id="description" name="card_description" placeholder="CARD description" rows="2"> </textarea> </textarea><br><br>
          <button type="submit">Add Item</button>
          <br>
        </form>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        <table border="1" >
          <tr>
            <th>TO DO [ {{ BOARD_LIST['To_Do']}} ]</th>
            <th>DOING [ {{ BOARD_LIST['Doing']}} ]</th>
            <th>DONE [ {{ BOARD_LIST['Done']}} ]</th>
          </tr>
          {% for item in card_items %}
            <tr>
                <td>
                    {% if BOARD_LIST['To_Do'] in item['ListID'] %}
                        <form action="{{ url_for('move_the_card') }}" method="post" >
                            <input type="radio" name="card_id_value" value="{{ item['ID'] }}">
                            {{ item['name']  }} <a href="{{ url_for('edit_the_card', card_name=item['name'], card_id=item['ID'])  }} style=right">Edit Card Desc</a>
                            <br> {{ item['DESC'] }}
                            <br> {{ item['ID'] }}
                            <br>
                            <button type="submit" name="list_id_value" value="{{ BOARD_LIST['Doing']}}">Move to Doing</button>
                        </form>
                    {% endif %}
                </td>
                <td>
                    {% if BOARD_LIST['Doing'] in item['ListID'] %}
                        <form action="{{ url_for('move_the_card') }}" method="post" >
                            <input type="radio" name="card_id_value" value="{{ item['ID'] }}"> 
                            {{ item['name']  }} <a href="{{ url_for('edit_the_card', card_name=item['name'], card_id=item['ID'])  }} style=right">Edit Card Desc</a>
                            <br> {{ item['DESC'] }} 
                            <br> {{ item['ID'] }}
                            <br>
                            <button type="submit" name="list_id_value" value="{{ BOARD_LIST['To_Do']}}">Move back to To-Do</button>
                            <button type="submit" name="list_id_value" value="{{ BOARD_LIST['Done']}}">Move to DONE</button>      
                        </form>
                    {% endif %}
                </td>   
                <td>
                    {% if BOARD_LIST['Done'] in item['ListID'] %}
                        <form action="{{ url_for('move_the_card') }}" method="post" >
                            <input type="radio" name="card_id_value" value="{{ item['ID'] }}"> 
                            {{ item['name']  }} <a href="{{ url_for('edit_the_card', card_name=item['name'], card_id=item['ID'])  }} style=right">Edit Card Desc</a>
                            <br> {{ item['DESC'] }}
                            <br> {{ item['ID'] }} 
                            <br>
                            <button type="submit" name="list_id_value" value="{{ BOARD_LIST['Doing'] }}">Move BACK to Doing</button>
                    {% endif %}
                </td>
            </tr>
          {% endfor %}
       </table>
      </ul>
    </div>
  </div>
{% endblock %}