{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>ADD new TASK</h2>
      <ul class="list-group mb-4">
        <form action="" method="post">
          <label for="title">New TASK</label>
          <br>
          <input type="text" name="title" placeholder="TASK title" value="{{ request.form['title']}}"></input>
          <button type="submit">Add Item</button>
          <br>
        </form>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        <table border="1" >
          <tr>
            <th>DONE</th>
            <th>ID</th>
            <th>STATUS</th>
            <th>TASK</th>
          </tr>
          {% for item in items %}
            <tr>
              <td><input type="checkbox" name="complete" id="completed"></td>
              <td>{{ item['id'] }}</td>
              <td>{{ item['status'] }}</td>
              <td>{{ item['title'] }}</td>
            </tr>
          {% endfor %}
        </table>
      </ul>
    </div>
  </div>
{% endblock %}