{% extends "layout.html" %}
{% block title %}HARBS To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">HARBS To-Do App - DEVOPS journey</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>ADD new TASK</h2>
      <ul class="list-group mb-4">
        <form action="" method="post">
          <label for="title">New TASK</label>
          <br>
          <input type="text" name="title" placeholder="TASK title" value="{{ request.form['title']}}"></input>
          <button type="submit">Add Item</button>
          <br>
        </form>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        <table border="1" >
          <tr>
            <th>STATUS</th>
            <th>ID</th>
            <th>TASK</th>
          </tr>
          {% for item in items %}
            <tr>
              <td>
                <form action="{{ url_for('update_status') }}" method="post">
                  <input type="hidden" name="item_id" value="{{ item.id }}">
                  <select name="status">
                    <option value="Not Started" {% if item.status == 'Not Started' %}selected{% endif %}>Not Started</option>
                    <option value="In Progress" {% if item.status == 'In Progress' %}selected{% endif %}>In Progress</option>
                    <option value="Completed" {% if item.status == 'Completed' %}selected{% endif %}>Completed</option>
                  </select>
                  <button type="submit">Update</button>
                </form>
              </td>
              <td>{{ item['id'] }}</td>
              <td>{{ item['title'] }}</td>
            </tr>
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table border="2">
          <tr>
            <th>TO DO</th>
            <th>DOING</th>
            <th>DONE</th>
          </tr>
          {% for item in card_items %}
            <tr>
              {% if BOARD_LIST['To_Do'] in item['ListID'] %}
                <td> {{ item['name'] }} <br> {{ item['DESC'] }} <br> {{ item['ListID'] }}</td>
                <td></td>
              {% elif BOARD_LIST['Doing'] in item['ListID'] %}
                <td></td>
                <td> {{ item['name']  }} <br> {{ item['DESC'] }} <br> {{ item['ListID'] }}</td>
              {% elif BOARD_LIST['Done'] in item['ListID'] %}
                <td></td>
                <td> {{ item['name']  }} <br> {{ item['DESC'] }} <br>  {{ item['ListID'] }}</td>
                <td></td>
                <td></td>
              {% else %}
                <td></td>
                <td></td>
                <td></td>
              {% endif %}
            </tr>
          {% endfor %}
          <tr>{{ BOARD_LIST['To_Do'] }}</tr>
        </table>
      </ul>
    </div>
  </div>
{% endblock %}