{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<!--  
  <div class="jumbotron">
    <h1 class="display-8">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  -->

  <div class="row">
    <div class="col-md-12">
      <h2>Be PRODUCTIVE- ADD new TASK - 002</h2>
      <form action="{{ url_for('new_card_submit') }}" method="post">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="card">New CARD name:</label>
            <input type="text" class="form-control" name="card_title" placeholder="CARD name">
          </div>
          <div class="form-group col-md-3">
            <label for="description">New CARD descr:</label>
            <textarea id="description" class="form-control" name="card_description" placeholder="CARD description" rows="2"></textarea>
          </div>
          <div class="form-group col-md-3">
            <label for="card_due_date">Enter due date for card:</label>
            <input id="card_due_date" type="datetime-local" class="form-control" name="card_due_date">
          </div>
          <div class="form-group col-md-3 align-self-end">
            <button type="submit" class="btn btn-primary">Add Item</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        <table border="1" >
          <tr>
            <th>TO DO [ {{ BOARD_LIST['To Do']}} ]</th>
            <th>DOING [ {{ BOARD_LIST['Doing']}} ]</th>
            <th>DONE [ {{ BOARD_LIST['Done']}} ]</th>
          </tr>
          {% for item in view_model.items %}
            <tr>
                <td>
                    {% if BOARD_LIST['To Do'] in item['ListID'] %}
                        <form action="{{ url_for('move_the_card') }}" method="post" >
                            <input type="hidden" name="card_id_value" value="{{ item['ID'] }}">
                            <ul>
                              <li>{{ item['name'] }} <a href="{{ url_for('edit_the_card', card_id=item['ID'], card_name=item['name']) }}" style="float: right;">Edit Card</a></li>
                              <li>{{ item['DESC'] }}</li>
                              <li>{{ item['due'] }}</li>
                            </ul>
                            <button type="submit" name="list_id_value" value="{{ BOARD_LIST['Doing']}}" style="float: right;">Move to Doing</button>
                        </form>
                    {% endif %}
                </td>
                <td>
                    {% if BOARD_LIST['Doing'] in item['ListID'] %}
                        <form action="{{ url_for('move_the_card') }}" method="post" >
                            <input type="hidden" name="card_id_value" value="{{ item['ID'] }}"> 
                            <ul>
                              <li>{{ item['name'] }} <a href="{{ url_for('edit_the_card', card_id=item['ID'], card_name=item['name']) }}" style="float: right;">Edit Card</a></li>
                              <li>{{ item['DESC'] }}</li>
                              <li>{{ item['due'] }}</li>
                            </ul>
                            <button type="submit" name="list_id_value" value="{{ BOARD_LIST['To Do']}}" style="float: left;">Move back to To-Do</button>
                            <button type="submit" name="list_id_value" value="{{ BOARD_LIST['Done']}}" style="float: right;">Move to DONE</button>      
                        </form>
                    {% endif %}
                </td> 
                <td>
                    {% if BOARD_LIST['Done'] in item['ListID'] %}
                        <form action="{{ url_for('move_the_card') }}" method="post" >
                            <input type="hidden" name="card_id_value" value="{{ item['ID'] }}">
                            <ul>
                              <li>{{ item['name'] }} <a href="{{ url_for('edit_the_card', card_id=item['ID'], card_name=item['name']) }}" style="float: right;">Edit Card</a></li>
                              <li>{{ item['DESC'] }}</li>
                              <li>{{ item['due'] }}</li>
                            </ul>
                            <button type="submit" name="list_id_value" value="{{ BOARD_LIST['Doing'] }}">Move BACK to Doing</button>
                    {% endif %}
                </td>
            </tr>
          {% endfor %}
       </table>
      </ul>
    </div>
  </div>
{% endblock %}